html {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 60px;
  cursor: pointer;
}

canvas {
  box-shadow: 0px 0px 15px 0px #adadad;
  opacity: 0;
  transition: opacity 0.75s;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.container {
  width: 100vw;
  height: 100vh;
}

.text-screen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: opacity 0.75s;
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.start-screen {
  order: 1;
  display: flex;
  opacity: 1;
}

.player-selection-colors {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.player-selections {
  width: 40%;
}

.player-selection {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.player-selection-name {
  width: 100%;
  height: 30px;
}

.player-selection-name > input {
  border: none;
  border-bottom: 1px solid gray;
  width: 100%;
  height: 30px;
  font-size: 20px;
  transition: box-shadow 0.25s ease-in-out;
}

.player-selection-name > input::placeholder {
  color: lightgray;
}

.player-selection-name > input:focus {
  box-shadow: 0px 0px 15px 0px #adadad;
  outline: none;
}

.color-box {
  width: 25px;
  height: 25px;
  padding: 10px;
  border: 4px solid #d3d3d3;
  border-radius: 5px;
}

.color-box-selected {
  border: 4px solid #000000;
}

.color-box:hover {
  border: 4px solid gray;
}

.color-box-selected:hover {
  border: 4px solid black;
}

.crossed-out-color {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M100 0 L0 100 ' stroke='gray' stroke-width='2'/><path d='M0 0 L100 100 ' stroke='gray' stroke-width='2'/></svg>");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%, auto;
}

.dimension-selection {
  border: none;
  border-bottom: 2px solid lightgray;
  padding-left: 10px;
  padding-right: 10px;
}

.dimension-selection:focus {
  outline: none;
}

.board-size {
  display: flex;
  width: 40%;
  justify-content: space-between;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}

.text-container {
  background-color: rgba(255, 255, 255, 0.75);
  width: 100vw;
  height: 100vh;
  display: initial;
}

.instruction-screen {
  display: none;
  opacity: 0;
}

.setup-screen {
  display: none;
  opacity: 0;
}

.win-screen {
  display: none;
  opacity: 0;
}
